*{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

.hero{
	width: 100%;
	min-height: 100vh;
	background-image: url(background.jpg);
	background-position: center;
	background-size: cover;
	padding: 10px 10%;
	overflow: hidden;
	position: relative;
}

.img{
	width: 100%;
	min-height: 100vh;
}

.content{
	margin-top: 10%;
	max-width: 600px;
}

.content h1{
	font-size: 70px;
	color: #aa1428;
}

.content p{
	margin: 10px 0 30px;
	color: #000042	;
	animation-delay: 0.5s;
}

.feature-img{
	max-width: auto;
	max-height: auto;
	width: 730;
	position: absolute;
	bottom : 0;
	right: 10%;
}

.feature-img.animation{
	animation-delay: 1.5s;
}

.animation{
	opacity: 0;
	transform: translateY(30px);
	animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}
